@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(110deg, #232, #323);
    text-align: center;
}    

h1 {
    margin-top: 1em;
    color: #565;
}

p, h2,h3,h4 {
    margin-top: 2em;
    margin-bottom: 1em;
    color: aqua;
}

/* User input area */
.input-group {
   padding: 5%;
}

.input-group-text {
    border: 0.2em solid wheat;
}

#city-input {
    border: 0.2em solid wheat;
}

#submit-button {
    border: solid;
    background-color: #565;
    color: wheat;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}